server:
  port: 8082
  tomcat:
    uri-encoding: UTF-8

spring:
  #datasource
  jpa:
    properties:
      hibernate.dialect: org.hibernate.spatial.dialect.postgis.PostgisDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:54320/sia_backend
    username: sia_backend
    password: SIADB1004**


logging:
  file:
    name: ./logs/api-server-prod.log
  level:
    io.sia: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type: TRACE
    org.springframework: OFF